<html>
  <head>
    <script type="text/javascript">
      add_dots = function() {
        var ul = document.getElementById("running");
        var items = ul.getElementsByTagName("li");
        for (var i = 0; i < items.length; ++i) {
          var node = document.createTextNode(".");
          items[i].appendChild(node);
          console.log("test");
        }
        var ul = document.getElementById("queued");
        var items = ul.getElementsByTagName("li");
        for (var i = 0; i < items.length; ++i) {
          var node = document.createTextNode(".");
          items[i].appendChild(node);
          console.log("test");
        }
      };

      document.interval = setInterval(add_dots, 500);

    </script>
  </head>
	<body>
		<h2>QUEUED TRANSACTIONS:</h2>
		<ul id="queued">
			{% for transaction in queued_transactions %}
      {% if transaction|length > 0 %}
      <li>{{transaction['description']}}</li>
      {% endif %}
			{% endfor %}
		</ul>
		<h2>RUNNING TRANSACTIONS:</h2>
		<ul id="running">
			{% for transaction in transactions %}
			{% if transaction|length > 0 %}
			<li>{{transaction['description']}}</li>
			{% endif %}
			{% endfor %}
		</ul>
		<h2>TODAYS COMPLETED TRANSACTIONS:</h2>
		<ul>
			{% for transaction in complete_transactions %}
			{% if transaction|length > 0 %}
      {% if 'Successfully' in transaction['description'] %}
      <li style='color:#0c0;'>{{transaction['description']}}</li>
      {% elif 'Failed' in transaction['description'] %}
      <li style='color:#c00;'>{{transaction['description']}}</li>
      {% else %}
			<li>{{transaction['description']}}</li>
			{% endif %}
			{% endif %}
			{% endfor %}
		</ul>
	</body>
</html>
