<html>
	<body>
		<h2>HISTORY OF ALL TRANSACTIONS</h2>
            <p>Date Format: dd/mm/yyyy</p>
    		<p style='color:red'>{{error_message}}</p>
		<form action="history" method = "POST"> 
			<p>Start Date Range: <input type="text" name="start_date" ></p>
			<p>End Date Range: <input type="text" name="end_date" ></p>
			<input type="submit" value="Submit">
		</form><br>		
		<ul>
			{% for transaction in complete_transactions %}
			{% if transaction|length > 0 %}
			<li>{{transaction[0]}}</li>
			{% endif %}
			{% endfor %}
		</ul>
	</body>
</html>
