<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
      get_latest = function() {
          document.getElementById('comp').src = document.getElementById('comp').src;
      };

    document.interval = setInterval(get_latest, 4000);

    </script>

  </head>
  <body>
    <h1>Hello, {{username}}!</h1><br>
    <h3>Execute a Transaction</h3>
    <p style='color:red'>{{error_message}}</p>
    <form action="home" method = "POST"> 
      <p>Number of Shares: <input type="number" name="quantity"></p>
      <p>Min Price: <input type="number" name="min_price"></p>
      <p>Order Type: <input type="number" name="order_type"></p>
      <input type="submit" value="Submit">
    </form><br>

    <iframe id="comp" style="position:absolute;right:0px;top:0px;width:500px;height:100%;" src="/track_order?id={{id}}"></iframe>
    <a href='/create'>Create New User</a><br>
    <a href='/change'>Change Password</a><br>
    <a href='/history'>View History</a><br>
    <a href='/logout'>Logout</a><br>
  </body>
</html>
